<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152685161687-8p2vihepf9hiv75d5qe0tclabb228pmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152685161687-8p2vihepf9hiv75d5qe0tclabb228pmu</string>
	<key>API_KEY</key>
	<string>AIzaSyCA5W_7X2tHJjW4oahjIRj2VL0Ern2FSDI</string>
	<key>GCM_SENDER_ID</key>
	<string>152685161687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emergency</string>
	<key>PROJECT_ID</key>
	<string>emergency-9394f</string>
	<key>STORAGE_BUCKET</key>
	<string>emergency-9394f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152685161687:ios:102e878883aeadff43d492</string>
</dict>
</plist>